* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

.navbar {
    background-color: rgb(253, 83, 83);
    display: flex;
    align-items: center;
    justify-content: space-between;     /*logo à esquerda e os links à direita */
    padding: 6px 20px;
    height: 60px;
}

.navbar .logo {
    width: auto;
    height: 160px; 
    display: flex;
    color: white;
    font-weight: bold;
    animation: vir-esquerda 1s ease-out;
}

.nav-links {
    list-style: none; /* Remove os marcadores da lista */
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none; /* Remove o sublinhado */
    color: white;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline; /* Sublinha o link */
}

.hero {
    background-color: rgb(255, 114, 114);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.hero h1 {
    font-size: 48px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    animation: descer 1s ease-out;
}

.hero img {
    width: 860px;
    height: 400px;
    animation: subir 1s ease-out;
}

.hero p {
    font-size: 24px;
    text-align: center;
    color: white;
    margin-top: 20px;
    animation: subir 1s ease-out 0.3s both;
}

@keyframes vir-esquerda {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes descer {
    from {
        opacity: 0;
        transform: translateY(-40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes subir {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#produtos {
    padding: 40px 20px; /* Espaçamento interno */
}

#produtos h2 {
    font-size: 36px;
    text-align: center;
    color: rgb(253, 83, 83);
    margin-bottom: 30px;     /* Espaço embaixo do título antes dos cards */
}

.grid-produtos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    font-size: large;
    animation: vir-esquerda 2s ease-out;
}

.card p {
    display: none;
    font-size: 13px;
    margin-top: 8px;
}

.card:hover p {
    display: block;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 8px;
}

#quem-somos {
    background-color: rgb(255, 114, 114);
    padding: 40px 20px;
    color: white;
    font-family: Arial, sans-serif;
}

#quem-somos h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

#quem-somos p {
    font-size: 15px;
    text-align: center;
    margin: 0 auto 20px auto; /* Centraliza o parágrafo e adiciona espaço embaixo */
    line-height: 1.7;
}

#contato {
    background-color: rgb(253, 83, 83);
    color: white;
    text-align: center;
    padding: 40px 20px;
    font-size: 18px;
}

#contato h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contato {
    list-style: none;
}

.contato li {
    margin: 8px 0;
}

footer {
    background-color: rgb(200, 50, 50);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px
}
